There is tuttorials from course Python [w3school]
Python HOME

In [2]:
print("Hello, World!")

Hello, World!

Python Version

In [3]:
import sys

print(sys.version)

3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]

Python Syntax

Python Indentation  
Python uses indentation to indicate a block of code.

In [4]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [5]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

Python Comments

In [30]:
#This is a comment
print("Hello, World!")

print("Hello, World!") #This is a comment

#print("Hello, World!")
print("Cheers, Mate!")

#This is a comment
#written in
#more than just one line
print("Hello, World!")

"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!
Hello, World!
Cheers, Mate!
Hello, World!
Hello, World!

Python Variables

In [28]:
#Creating Variables
x = 5
y = "John"
print(x)
print(y)

5
John

In [27]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [26]:
#Casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [25]:
#Get the Type
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [24]:
#Single or Double Quotes?
x = "John"
# is the same as
x = 'John'

In [23]:
#Case-Sensitive
a = 4
A = "Sally"
#A will not overwrite a

Variable Names

In [22]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Illegal variable names:


2myvar = "John"

my-var = "John"

my var = "John"

In [21]:
#Camel Case
myVariableName = "John"

#Pascal Case
MyVariableName = "John"

#Snake Case
my_variable_name = "John"

Python Variables - Assign Multiple Values

In [19]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [18]:
#One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [17]:
#Unpack a Collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables

print() function is often used to output variables

In [15]:
x = "Python is awesome"
print(x)

Python is awesome

In [14]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [13]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [12]:
x = 5
y = 10
print(x + y)

15

x = 5
y = "John"
print(x + y) #Error

In [11]:
x = 5
y = "John"
print(x, y)

5 John

Global Variables

In [10]:
x = "awesome" #x is global fuction

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [9]:
x = "awesome"

def myfunc():
  x = "fantastic" #in function we use what inside
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [8]:
#The global Keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [7]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Data types

In [31]:
x = 5
print(type(x))

<class 'int'>

Python Numbers

In [36]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [37]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [34]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [38]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [39]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [40]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [42]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [43]:
#Random Number
import random

print(random.randrange(1, 10))

3

Python Casting

In [44]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [45]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [47]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Python Strings

In [48]:
print("Hello")
print('Hello')

Hello
Hello

In [49]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [50]:
a = "Hello"
print(a)

Hello

In [51]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [52]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Strings are Arrays

In [53]:
a = "Hello, World!"
print(a[1])

e

Looping Through a String

In [54]:
for x in "banana":
  print(x)

b
a
n
a
n
a

String Length

In [55]:
a = "Hello, World!"
print(len(a))

13

Check String

In [56]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [57]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

Check if NOT

In [58]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [59]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Slicing Strings

In [60]:
b = "Hello, World!"
print(b[2:5]) #5 not included

llo

In [61]:
#Slice From the Start
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
#Slice To the End
b = "Hello, World!"
print(b[2:])

In [62]:
#Negative Indexing
b = "Hello, World!"
print(b[-5:-2])

orl

Modify Strings

In [63]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [64]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [65]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [66]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [67]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

String Concatenation

In [68]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [69]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

String Format

In [70]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [71]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [72]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [73]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [74]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Escape Character

In [75]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [76]:
txt = "We are the so-called \"Vikings\" from the north."

String Methods
(there is no examples)